.bg-image {
    background-image: url('../assets/a.jpg'); 
    background-size: cover;
    background-position: center;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    position: relative; 
}

.vacation-container {
    position: absolute;
    top: 30%; 
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: Arial, sans-serif;
    padding: 20px;
    transition: top 0.3s ease; 
    background-color: rgba(0, 0, 0, 0.04);
}

.vacation-container h1 {
    font-size: 50px;
    margin-bottom: 10px;
    color: #05f2ff;
}

.vacation-container h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #ffffff;
    font-size: 20px;
    margin: 0;
}
.bookingCon{
    position: absolute;
    top: 50%; 
}